* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

header {
  background-color: #2c1762;
  position: sticky;
  top: 0.0001em;
}
header nav {
  width: 90%;
  margin: auto;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
header nav .nav {
  display: flex;
  align-items: center;
  gap: 2em;
}
header nav .nav img {
  height: 5em;
  width: 10em;
}
header nav .nav ul {
  display: flex;
  gap: 2em;
}
header nav .nav ul li a {
  text-decoration: none;
  font-size: 1.2em;
  color: white;
}
header nav .nav ul li a:hover {
  color: red;
}
header nav .nav1 {
  display: flex;
  align-items: center;
  gap: 2em;
}
header nav .nav1 i {
  display: none;
}
header nav .nav1 ul {
  display: flex;
  gap: 2em;
}
header nav .nav1 ul li .dropdown {
  display: none;
  position: absolute;
  background-color: #ffffff;
  margin-left: -15em;
  padding: 1em;
}
header nav .nav1 ul li .dropdown ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
header nav .nav1 ul li .dropdown ul li {
  padding-bottom: 2px;
}
header nav .nav1 ul li .dropdown ul li .pee {
  display: flex;
  gap: 2em;
}
header nav .nav1 ul li .dropdown ul li .pee div h6 {
  font-size: 1em;
  color: black;
}
header nav .nav1 ul li .dropdown ul li .pee div p {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.375);
  padding-bottom: 10px;
}
header nav .nav1 ul li .dropdown ul li:hover {
  background-color: rgba(207, 8, 114, 0.474);
  border-radius: 10px;
  padding: 1em;
}
header nav .nav1 ul li a {
  text-decoration: none;
  font-size: 1.2em;
  color: white;
}
header nav .nav1 ul li a:hover {
  color: red;
}
header nav .nav1 ul li:hover .dropdown {
  display: grid;
}
header nav .nav1 .btn {
  padding: 1em 2em;
  border-radius: 10px;
  border: none;
  background-color: white;
  text-decoration: none;
  color: blue;
}

main .tag1 {
  background: linear-gradient(90deg, #2c1762, #cf0871);
}
main .tag1 .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
main .tag1 .main .sub1a img {
  height: 120vh;
}
main .tag1 .main .sub1 h1 {
  color: #ffffff;
  font-size: 3.5em;
  padding: 1em 0;
}
main .tag1 .main .sub1 h1 span {
  background-image: linear-gradient(129deg, #ffffff, #cf0871);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
main .tag1 .main .sub1 p {
  color: #ffffff;
  font-size: 1.7em;
  padding: 1.5em 0;
}
main .tag1 .main .sub1 button {
  background-color: #cf0871;
  border: none;
  padding: 1em;
  border-radius: 10px;
}
main .tag1 .main .sub1 button a {
  text-decoration: none;
  color: #ffffff;
  padding: 1em;
  font-size: 1.5em;
}
main .tag1 .main .sub1 button:hover {
  background-image: linear-gradient(129deg, #2c1762, #cf0871);
  padding: 1.5em 2em;
}
main .tag1 .main .sub1 .mini {
  display: flex;
  gap: 2em;
  padding-top: 4em;
}
main .tag1 .main .sub1 .mini div {
  display: flex;
  gap: 1em;
}
main .tag1 .main .sub1 .mini div span {
  color: #ffffff;
  font-size: 1.2em;
  padding: 1em 3px;
}
main .tag1 .main .sub1 .mini div img {
  height: 10vh;
  width: 3em;
}

.tag2 {
  background-color: whitesmoke;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tag2 .sub2 h1 {
  font-size: 2.5em;
}
.tag2 .sub2a {
  padding: 3em 0 5em;
}
.tag2 .sub2a img {
  height: 15em;
  width: 20em;
  border-radius: 15px;
}

.tag3 {
  width: 75%;
  min-height: 20vh;
  margin: auto;
  display: flex;
  align-self: center;
  background-color: beige;
  border-radius: 15px;
  justify-content: space-between;
  padding: 2em;
  margin-top: -5em;
  box-shadow: 0 10px 15px 0 #cf0871;
}
.tag3 .sub3 {
  border-right: 1px solid;
  padding: 0 1.5em;
}

.men {
  text-align: center;
  margin: 5em 0;
}
.men .men1 {
  background-color: #cf0871;
  border: none;
  padding: 1.4em 1em;
  border-radius: 10px;
  text-align: center;
  border: none;
}
.men .men1 a {
  text-decoration: none;
  color: #ffffff;
  padding: 1em;
  font-size: 1.5em;
}
.men .men1:hover {
  background-image: linear-gradient(129deg, #2c1762, #cf0871);
  padding: 1.5em 2em;
}

.tag4 {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 50vh;
}
.tag4 .sub4 {
  padding: 2px 2em;
}
.tag4 .sub4 h3 {
  font-size: 2.5em;
  padding-bottom: 12px;
  color: #2c1762;
}
.tag4 .sub4 p {
  font-size: 1.3em;
  line-height: 1.5em;
  color: #58617c;
  padding-bottom: 1em;
}
.tag4 .sub4 #cool {
  border: none;
  padding: 1.4em 1em;
  background-color: #cf0871;
  border-radius: 10px;
  text-align: center;
}
.tag4 .sub4 #cool a {
  padding: 1em;
  font-size: 1.5em;
  color: #ffffff;
  text-decoration: none;
}
.tag4 .sub4 #cool:hover {
  background-image: linear-gradient(129deg, #2c1762, #cf0871);
  padding: 1.5em 2em;
}
.tag4 .sub4a {
  padding-top: 3em;
}

.tag5 {
  background-color: #edfefc;
  width: 85%;
  margin: auto;
  padding: 3em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin-top: 7em;
}
.tag5 .sub5a {
  padding: 2px 4em;
}
.tag5 .sub5a h3 {
  font-size: 3em;
  padding-bottom: 12px;
  color: #2c1762;
}
.tag5 .sub5a p {
  font-size: 1.3em;
  line-height: 1.5em;
  color: #58617c;
  padding-bottom: 1em;
}
.tag5 .sub5a .cool {
  border: none;
  padding: 1.4em 1em;
  background-color: #cf0871;
  border-radius: 10px;
  text-align: center;
}
.tag5 .sub5a .cool a {
  padding: 1em;
  font-size: 1.5em;
  color: #ffffff;
  text-decoration: none;
}
.tag5 .sub5a .cool:hover {
  background-image: linear-gradient(129deg, #2c1762, #cf0871);
  padding: 1.5em 2em;
}

.tag6 {
  width: 85%;
  margin: auto;
  padding: 3em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 7em;
}
.tag6 .sub6 {
  padding: 2px;
}
.tag6 .sub6 h3 {
  font-size: 3em;
  padding-bottom: 12px;
  color: #2c1762;
}
.tag6 .sub6 p {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #58617c;
  padding-bottom: 1em;
}
.tag6 .sub6 .cool {
  border: none;
  padding: 1.4em 1em;
  background-color: #cf0871;
  border-radius: 10px;
  text-align: center;
}
.tag6 .sub6 .cool a {
  padding: 1em;
  font-size: 1.5em;
  color: #ffffff;
  text-decoration: none;
}
.tag6 .sub6 .cool:hover {
  background-image: linear-gradient(129deg, #2c1762, #cf0871);
  padding: 1.5em 2em;
}
.tag7 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2c1762;
  gap: 5em;
}
.tag7 .sub7a h3 {
  font-size: 3em;
  padding-bottom: 12px;
  color: #ff0475;
}
.tag7 .sub7a p {
  font-size: 1.5em;
  line-height: 1.5em;
  color: #fff;
  padding-bottom: 1em;
}
.tag7 .sub7a p span {
  color: #cf0871;
}
.tag7 .sub7a .cool {
  border: none;
  padding: 1.4em 1em;
  background-color: #cf0871;
  border-radius: 10px;
  text-align: center;
}
.tag7 .sub7a .cool a {
  padding: 1em;
  font-size: 1.5em;
  color: #ffffff;
  text-decoration: none;
}
.tag7 .sub7a .cool:hover {
  background-image: linear-gradient(129deg, #2c1762, #cf0871);
  padding: 1.5em 2em;
}
.tag7 .sub7 img {
  margin-top: 10em;
  width: 40em;
  height: 18em;
}

.tag8 {
  display: flex;
  width: 85%;
  margin: auto;
  align-items: center;
  justify-content: space-around;
  background-color: #edfefc;
  padding: 3em;
  margin-top: 4em;
}
.tag8 .sub8a {
  padding: 2px;
}
.tag8 .sub8a h3 {
  font-size: 3em;
  padding-bottom: 12px;
  color: #2c1762;
}
.tag8 .sub8a p {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #58617c;
  padding-bottom: 1em;
}
.tag8 .sub8a .cool {
  border: none;
  padding: 1.4em 1em;
  background-color: #cf0871;
  border-radius: 10px;
  text-align: center;
}
.tag8 .sub8a .cool a {
  padding: 1em;
  font-size: 1.5em;
  color: #ffffff;
  text-decoration: none;
}
.tag8 .sub8a .cool:hover {
  background-image: linear-gradient(129deg, #2c1762, #cf0871);
  padding: 1.5em 2em;
}
.tag8 .sub8 {
  margin-top: -15em;
  padding-right: 10em;
}
.tag8 .sub8 img {
  height: 10em;
  margin-left: 7em;
}

.tag12 {
  padding: 5em 3em;
  text-align: center;
  background-color: #f5f5f5;
  margin-top: 2em;
}
.tag12 h5 {
  font-size: 2.5em;
  padding: 2px 10px 1em 10px;
  color: #2c1762;
}
.tag12 h5 span {
  background-image: linear-gradient(129deg, #2c1762, #cf0871);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.tag12 .cool {
  border: none;
  padding: 1.4em 1em;
  background-color: #cf0871;
  border-radius: 10px;
  text-align: center;
}
.tag12 .cool a {
  padding: 1em;
  font-size: 1.5em;
  color: #ffffff;
  text-decoration: none;
}
.tag12 .cool:hover {
  background-image: linear-gradient(129deg, #2c1762, #cf0871);
  padding: 1.5em 2em;
}

footer {
  background-color: #2c1762;
}
footer .tag13 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 3em 0;
  width: 80%;
  margin: auto;
  gap: 2em;
}
footer .tag13 div p {
  color: #b48cfc;
  padding-bottom: 3px;
}
footer .tag13 div a {
  text-decoration: none;
}
footer .tag13 div a p {
  color: #ffffff;
  padding-bottom: 2px;
}
footer .tag13 div img {
  width: 10em;
  height: 5em;
}
footer .tag14 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-bottom: 3em;
}
footer .tag15 {
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
}
footer .tag15 p {
  color: #ffffff;
  font-size: 10px;
}
footer .tag16 {
  width: 80%;
  margin: auto;
  padding-bottom: 2em;
}
footer .tag16 p {
  color: #ffffff;
  font-size: 10px;
}