@media (max-width: 1000px){
    header{
        nav{
            .nav1{
                ul{
                    display: none;
                }
                a{
                    display: none;
                }
                i{
                    display: inline;
                    ul{
                        display: none;
                    }
                }
                i:hover ul{
                    display: block;
                }
            }
        }
    }
}
@media (max-width: 773px){
    header{
        nav{
            .nav1{
                ul{
                    display: none;
                }
                a{
                    display: none;
                }
                i{
                    ul{
                        display: none;
                    }
                }
                i:hover ul{
                    display: block;
                }
            }
            .nav{
                ul{
                    display: none;
                }
            }
        }
    }
    main{
        .tag1{
           .main{
            display: block;
            text-align: center;
           }
        }
        .tag2{
            display: block;
            text-align: center;
        }
        .tag3{
            display: block;
            text-align: center;
            .sub3{
                padding-right: 0;
            }
        }
        .tag4{
            display: block;
            text-align: center;
            .sub4{
                padding-right: 0;
            }
        }
        .tag5{
            .sub5a{
                display: block;
            }
        }
    }
    footer{
        .tag13{
            grid-template-columns: repeat(3, 2fr);
        }
    }
}
@media (max-width: 420px){
    footer{
        .tag13{
            grid-template-columns: 1fr;
        }
        .tag14{
            display: block;
            div{
                padding-bottom: 2em;
            }
        }
    }
}